<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRGEo__j58wJVEn357gPd7k_r4yQZ64ko</string>
	<key>GCM_SENDER_ID</key>
	<string>496424333114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookSummary</string>
	<key>PROJECT_ID</key>
	<string>bookapp-f6413</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-f6413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496424333114:ios:5dc9e84c99eaee69952a03</string>
</dict>
</plist>